/* =======================>>> START DEFAULT STYLES <<======================= */
.d-flex{
    display: flex;
}

.d-grid{
    display: grid;
}

.d-none{
    display: none;
}

.d-block{
    display: block;
}

.container {
    width: 98%;
    margin: 0 auto;
}

.box-section{
    margin-top: 1rem;
    border-radius: 0.4rem;
    background-color: rgba(190, 190, 190, 0.1);
    padding: 1rem 2rem;
    box-shadow: 0 0 5px 0 rgb(251, 242, 237, 0.4);
}

/* =======================>>> FINISH DEFAULT STYLES <<======================= */