:root {
    --primary-font: "Lato";
    --secondary-font: "Oswald";
    --primary-color: #93B1A6;
    --secondary-color: #5C8374;
    --third-color: #183D3D;
    --fourth-color: #040D12;
    --white-color: #fff;
    --dark-color: #111;
}